* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
}

html, body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

/***************
 Landing
****************/

#landing,
#pianoScreen,
#inviteScreen {
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#landing {
    display: flex;
    z-index: 1;
}

#pianoScreen {
    display: flex;
    z-index: 2;
}

#inviteScreen {
    display: flex;
    z-index: 3;
}


.hidden {
    display: none !important;
}

#stage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#landingOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 70px;
    z-index: 10;
}

#startBtn {
    border: none;
    border-radius: 80px;
    padding: 20px 45px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    color: #432700;
    background: linear-gradient(#ffe684,#ffc300);
    box-shadow: 0 10px 30px rgba(0,0,0,.35);
    transition: .25s;
}

    #startBtn:hover {
        transform: scale(1.06);
    }

/****************
 Piano
****************/

#pianoContainer {
    position: absolute;
    bottom: 40px;
    width: 650px;
    max-width: 90vw;
    text-align: center;
}

#status {
    color: white;
    font-size: 28px;
    margin-bottom: 18px;
    text-shadow: 0 0 15px black;
}

#piano {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.key {
    width: 80px;
    height: 220px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #ddd;
    transition: .15s;
}

    .key:hover {
        transform: translateY(-3px);
    }

    .key.active {
        background: #ffd54f;
        transform: translateY(10px);
        box-shadow: 0 0 35px #ffd54f;
    }

/****************
 Invite
****************/

#inviteImage {
    width: min(500px,90vw);
    border-radius: 25px;
    box-shadow: 0 20px 60px rgba(0,0,0,.5);
    animation: popup .6s;
}

#inviteButtons {
    position: absolute;
    bottom: 35px;
    display: flex;
    gap: 20px;
}

    #inviteButtons button {
        border: none;
        border-radius: 60px;
        padding: 18px 28px;
        cursor: pointer;
        color: white;
        font-size: 18px;
        background: #8b2cff;
    }

@keyframes popup {

    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
